<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene utilizzato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per ulteriori informazioni su questo argomento, visitare http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>Publish\It.Uniba.Di.Cdg.SocialTfs.ProxyServer.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>SocialTFS</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SocialTFSConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=localhost;Initial Catalog=master;Integrated Security=True" Name="" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=(local);Initial Catalog=SocialTFS;User ID=SocialTFS;Password=!a1Ws2Ed3Rf4Tg5Yh6Uj7Ik8Ol9P!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SocialTFSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=SocialTFS;User ID=SocialTFS;Password=!a1Ws2Ed3Rf4Tg5Yh6Uj7Ik8Ol9P!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="Script.sql" Transacted="False" />
          </Object>
          <Object Type="DbFullSql">
            <Source Path="UpdateScript.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialTFSConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=master;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>