<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<connectionStrings xdt:Transform="Replace">
		<add connectionString="Data Source=(local);Initial Catalog=SocialTFS;User ID=SocialTFS;Password=!a1Ws2Ed3Rf4Tg5Yh6Uj7Ik8Ol9P!" name="SocialTFSConnectionString" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>